@model DogForum.Models.Discussions

@{
    // code block
    ViewData["Title"] = "Discussion Details";
}

<div style="margin-top: 5vh">
    <h4 class="fw-bold">@Html.DisplayFor(model => model.Title)</h4>
    <hr />

    @if (Model.ImageFile != null)
    {
        <div>
            <img class="rounded mx-auto d-block" src="@Url.Content("/images/" + Model.ImageFilename)" alt="@Model.Title" />
        </div>
    }

    <dl class="row" style="margin-top: 5vh">
        <div class="col-sm-10">
        <p>
            @Html.DisplayFor(model => model.Content)
        </p>
        
        <p style="float: right; margin: 2vh" class="fw-bold">
            @Html.DisplayFor(model => model.CreateDate)
        </p>
        </div>
    </dl>

    <div style="margin-top: 6vh">
        <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model?.DiscussionsId">
            <button type="button" class="btn btn-primary">Comment</button>
        </a>
    </div>

    <div style="margin-top: 3vh; margin-bottom: 10vh">
        @foreach (var comment in Model.Comments)
        {

            <div class="card mb-3 shadow-sm">
                    <div class="col">
                <div class="card-body">
                        <p>@comment.Content</p>
                        <p class="fw-bold" style="float: right">@comment.CreateDate</p>
                </div>
            </div>
            </div>
        }
    </div>
</div>
<div> 
    <a asp-action="Index">Home Page</a>
</div>

