@model IEnumerable<DogForum.Models.Discussions>

@{
    ViewData["Title"] = "Index";
}

<h1>My Threads</h1>

<p>
    <button type="button" class="btn btn-primary">
        <a style="color: white" class="no-link-style" asp-action="Create">Create New</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="DiscussionsDetails" asp-controller="Home" asp-route-id="@item.DiscussionsId">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                    <button type="button" class="btn btn-primary"><a style="color: white" class="no-link-style" asp-action="Edit" asp-route-id="@item.DiscussionsId">Edit</a></button>
                    <button type="button" class="btn btn-primary"><a style="color: white" class="no-link-style" asp-action="Details" asp-route-id="@item.DiscussionsId">Details</a></button>
                    <button type="button" class="btn btn-danger"><a style="color: white" class="no-link-style" asp-action="Delete" asp-route-id="@item.DiscussionsId">Delete</a></button>
                
            </td>
        </tr>
}
    </tbody>
</table>
